table{
    border: 5px solid black;
    /* border-collapse: collapse; */
    padding: 10px;
    padding-top: 40px;
    border-radius: 20px;
}

tr,td{
    border: 2px solid yellow;
    margin: 5px;
    text-align: center;
    padding: 10px;
}