* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    /* defeni a todo body com mesmo padrão */
    background-color: RGB(244,126,32); 
    /* Fundo laranja inspirado no traje de Naruto */
    color: RGB(255, 255, 255);
    /* Aqui defini a cor branca  */
}

main {
    padding-top: 100px; /* Ajusta o valor conforme a altura do header */
}

header {

    background-color: RGB(0,0,0); /* Fundo preto */
    display: flex;
    /* no CSS é usada para ativar o Flexbox, um modelo de layout que facilita o alinhamento e a distribuição de elementos dentro de um contêiner. */
    
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: fixed;
    margin-top: 0px;
    width: 100%;
    
    
}

header img {
    width: 10%;
}


.menu {
    list-style: none;
    display: flex;
   margin: 20px;
   
   /*  pode ser utilizado o gap para criar espaço entre os itens */
}

.menu li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 20px 15px;
    border-radius: 10px; /* Bordas arredondadas */
    transition: background-color 0.3s, color 0.3s, border-bottom 0.3s;
}

.menu li a:hover {
    background-color: RED; /* Cor de fundo no hover */
    color: black; /* Cor do texto ao hover */
    border-bottom: 3px solid rgb(0, 0, 235); 
    /* Borda embaixo na cor vermelha */
}


section {
    padding: 20px;
    
}

section > div {
    width: 1200px;
    margin: auto;
}


.banner{
    background-image: url( '../img/Capa_secao1.jpg' );
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 680px;
    display: flex;
    justify-content: start;
    align-items: end;
    border-bottom: 2px solid orange;
   
}

.banner > div {
    width: 50%; /* Tamanho reduzido da div para 50% */
    background-color: black; /* Fundo preto no banner */
    padding: 20px;
    border-radius: 10px; /* Pode manter para estética */
    text-align: center;
    margin: 0 auto;
    border: 2px solid black;
}

.banner p {
    font-size: 30px;
}



.historia{
    background-color: rgb(10, 5, 83);
}
.historia>div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.historia > div> div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    
}

.historia img {
    width: 30%;
    border-radius: 10px;
    margin-right: 20px;
}

.historia h1{
    text-align: center;
    font-size: 34px;
    color: rgb(255, 115, 0);
    padding: 20px 0 10px 0;
}

.historia p {
    text-align: justify;
    font-size: 16px;
    margin: 0 20px;
}

.historia h2 {
    color: rgb(255, 115, 0);
    padding: 20px 0 10px 20px;

}

.historia ul {
    list-style-type: disc;
    padding-left: 20px;
}

.historia ul li span {
    font-weight: bold;
    color: rgb(255, 115, 0) 
}

/* Seção Hokages */
.hokages > div {
    text-align: center;
}

.hokages .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.hokages .container > div {
    height: 100%;
    border: black solid 5px;
    box-shadow: rgb(0,0,0) 0 10px 20px;
    background-color: #FAF6EB;
    color: #000000;
    width: calc(33% - 20px);
    border-radius: 10px;
    padding: 10px;
    transition: transform 0.3s;
}

.hokages .container > div:hover {
    transform: scale(0.9); /* Aumenta em 1.15 ao passar o mouse */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.hokages h2 {
    font-size: 30px;
    margin: 10px 0;
}

.hokages h3 {
    color: #64090E;
    margin: 10px 0;
}

.hokages p {
    text-align: justify;
    font-size: 14px;
    padding-bottom: 20px;
}
.hokages img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

/* Footer */

footer > div> div {
    display: flex;
    flex-direction: row;
    justify-content: space-around; /* Espaçamento entre elementos */
    align-items: center;
    background-color: #000000;
    padding: 20px 20px 0 20px;
}

footer img {
    width: 10%;
    padding-bottom: 80px;
}

footer p {
    color: #FFFFFF;
    font-size: 16px;
    text-align: center;
    padding: 50px 5px;
}
#kunai:hover {
    /* # localiza o id para efetuar os comando sugeridos */
    transform: rotate(360deg);
    /* movimenta a imagem no eixo x; 
    ou pode movimentar no eixo y*/
    transition: transform 0.3s;
    /* controla a velocidade do movimento */
}

#jiraya:hover {
    transform: translatex(-10px);
    transition: transform 0.5s;
     
    
}

/* --------------- Akatsuki ----------------  */


/* Estilos específicos para a página Akatsuki */
.akatsuki {
    background-color: white; 
    /* Fundo escuro para a seção Akatsuki */
    padding: 40px;
}

.akatsuki>div>div {
padding: 10px;
}

.akatsuki img {
    width: 100%;
    border-radius: 10px;
    
}


.akatsuki h2 {
    text-align: center;
    font-size: 36px;
    color: red; 
    margin-top: 20px;

}

.akatsuki h3{
    padding: 0 0 5px 25px;
    text-align: center;
    font-size: 25px;
    color: rgb(230,11,11);
    margin-top: 20px;
}
.akatsuki p {
    color:black;
    font-size: 16px;
    line-height: 1.6;
    text-align: justify;
    padding: 5px 20px;
}

/* Estilos para a seção de integrantes da Akatsuki */
.integrantesAkatsuki {
background-color: black;
    padding: 40px 0;
}

.integrantesAkatsuki>div {
    margin-top: 30px;
    background-image: url( '../img/akatsuki.png' );
    background-size: 150px;


}

.integrantesAkatsuki h2 {
    background-color: RGB(121, 30 ,31);
    text-align: center;
    font-size: 34px;
    color: GOLD;
    /* Cor dourada */
    padding: 20px;
    margin-bottom: 30px;
}

.integrantesAkatsuki p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
    padding: 0 20px;
}

.personagem {
    background-color:white; 
    color: black;
    border: 2px solid red; 
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    width: calc(33% - 40px);
     /* 3 cards por linha */
    /* opção para distribuir as imagens tipo cartão */
    display: inline-block;
    vertical-align: top;
    /*memoria de utilização:Organiza os itens no topo da div */
    text-align: center;
    transition: transform 0.3s;
}

.personagem img {
    width: 220px;
    margin-bottom: 10px;
    
}

.personagem h3 {
    font-size: 24px;
    color: RGB(121,30,31);
}

.personagem b{
    color:RGB(105, 4,) ;
    border-bottom: RGB(100, 9 , 14) 2px solid;
}

.personagem p {
    font-size: 16px;
    text-align: justify;    
    margin-bottom: 10px;
}

/* ---------------- ninja---------------- */
/* Estilos para seções relacionadas a "Como Se Tornar um Ninja" */

/* Seção de treinamento ninja */
.ninjaTreinamento {
    background-color: RGB(79, 115, 233);
    color: RGB (255, 255, 255);
    padding: 40px 0;
    text-align: center;
}

.ninjaTreinamento h2 {
    font-size: 32px;
    padding-bottom: 20px;
    color: RGB (255, 255, 255);
}

.ninjaTreinamento > div > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-radius: 10px;
}

.ninjaTreinamento p {
    font-size: 16px;
    text-align: justify;
    margin: 10px;
}

.ninjaTreinamento img {
    width: 400px;
    border-radius: 10px;
}

/* Seção Bandana */
.ninjaBandana {
    background-color: #0d2e75;
    color: RGB (255, 255, 255);
    padding: 40px 0;
}

.ninjaBandana > div > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-radius: 10px;
}


.ninjaBandana p {
    font-size: 16px;
    text-align: justify;
    margin: 10px;
}

.ninjaBandana img {
    width: 400px;
    border-radius: 10px;
}

.ninjaBandana h3, .ninjaTreinamento h3, .ninjaJutsus h3  {
    font-size: 23px;
    color: RGB(247, 245, 244);
}

/* Seção de aldeias */
.aldeias {
    background-color: #1b1b4a;
    padding: 40px 0;
    color: RGB(255, 255, 255);
}

.aldeias h2 {
    text-align: center;
    font-size: 32px;
    color: yellow;
    margin-bottom: 20px;
}

.aldeias > div > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.aldeias > div > div:nth-child(odd) {
    background-color: RGB(50,50,93);
    flex-direction: row-reverse;
}

.aldeias > div > div:nth-child(even) {
    background-color:  RGB(105, 104, 103);
}

.aldeias img {
    width: 200px;
    border-radius: 10px;
}

.aldeias h3 {
    font-size: 24px;
    color: yellow;
    text-align: center;
}

.aldeias p {
    text-align: justify;
    font-size: 16
}

/* Estilos específicos para a última seção "Jutsus" */
.ninjaJutsus {
    background-color: BLACK;
    color: white;
    padding: 40px 0;
}

.ninjaJutsus h3 {
    font-size: 26px;
    color: white;
    text-align: center;
    margin: 0 10px 20px 0;
}

.ninjaJutsus > div > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    padding: 20px;
}

.ninjaJutsus > div > div > div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    padding: 20px;
}

.ninjaJutsus > div > div > div:last-child{
    background-color: RGB(230, 208, 11);
}
.ninjaJutsus p {
    font-size: 16px;
    text-align: justify;
    margin-bottom: 20px;
}

.ninjaJutsus img {
    width: 30%;
    margin: 10px;
    border-radius: 10px;
    transition: transform 0.3s;
}

.ninjaJutsus img:hover {
    transform: scale(1.1);
     /*memoria de utilização: Aumenta ligeiramente a imagem ao passar o mouse */
}

.ninjaJutsus div {
    text-align: center;
}